
body {
  margin: 10px;
  background-image: url('/public/img/pexels-paul-cameron-477972-1187974.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;    
  background-attachment: fixed;
}

.form-container {
  width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  

}

.form-control {
  width: 100%;
}

.btn {
  width: 100%;
}

.errorTxt {
  font-size: small;
}

#taskList{
  width: 700px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  

}




